.badge
  display: inline
  min-width: 10px
  padding: 3px 7px
  font-family: "ubuntu"
  font-size: 12px
  font-weight: bold
  color: $white
  line-height: 1
  vertical-align: middle
  white-space: nowrap
  text-align: center
  background-color: $navy
  border-radius: 10px
  &:empty
    display: none

.label
  font-family: "ubuntu"
  padding: 3px 4px
  font-size: 65%
  font-weight: bold
  letter-spacing: 0
  text-transform: uppercase
  color: $white
  vertical-align: text-top
  border-radius: 4px
  box-shadow: inset -2px -2px 0 transparentize($black, 0.5)

.label-red
  @extend .label
  background-color: $red

.label-green
  @extend .label
  background-color: $green

.label-blue
  @extend .label
  background-color: $blue

.checkbox label:after, .radio label:after
  content: ''
  display: table
  clear: both

.checkbox .cr
  font-family: "pe"
  position: relative
  display: inline-block
  border: 1px solid #a9a9a9
  border-radius: .25em
  width: 1.05rem
  height: 1.05rem
  float: left
  margin-right: .5em

.radio .cr
  font-family: "pe"
  position: relative
  display: inline-block
  border: 1px solid #a9a9a9
  border-radius: .25em
  width: 1.05rem
  height: 1.05rem
  float: left
  margin-right: .5em
  border-radius: 50%

.checkbox .cr .cr-icon
  font-family: "pe"
  position: absolute
  font-size: 1.2rem
  line-height: 0
  top: 50%
  left: 20%

.radio .cr .cr-icon
  font-family: "pe"
  position: absolute
  font-size: 1.2rem
  line-height: 0
  top: 50%
  left: 20%
  margin-left: 0.04em

.checkbox label input[type="checkbox"], .radio label input[type="radio"]
  display: none

.checkbox label input[type="checkbox"] + .cr > .cr-icon, .radio label input[type="radio"] + .cr > .cr-icon
  transform: scale(3) rotateZ(-20deg)
  opacity: 0
  transition: all .3s ease-in

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon, .radio label input[type="radio"]:checked + .cr > .cr-icon
  transform: scale(1) rotateZ(0deg)
  opacity: 1

.checkbox label input[type="checkbox"]:disabled + .cr, .radio label input[type="radio"]:disabled + .cr
  opacity: .5
